*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;    font-size: 14px;
}

img{
    width: 100%;
}

section{
    padding: 2em 0;
}
section:nth-child(2n){
    background-color: #f2f2f2;
}

h2{
    text-align: center;
}

.container{
    width: 90%;
    max-width: 960px;
    margin: auto;
}

.header{
    background-image: linear-gradient(to left bottom, #500d95, #501da3, #4f2ab1, #4c36bf, #4841cd, #3851d7, #2460e0, #006de7, #007ee5, #008bde, #0095d2, #009ec5);
    background-size: 100% 70%;
    background-repeat: no-repeat;
}

.menu{
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu__item{
    list-style: none;
}

.menu__link{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: border ease .5s;
}

.menu__link:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: .5em;
}

.info{
    display: flex;
    flex-direction: column;
    top: 5em;
    background-color: #fff;
    width: 90%;
    max-width: 800px;
    margin: auto;
    box-shadow: 4px 4px 16px rgba(165, 177, 198, 0.4),
    -8px -8px 16px rgba(255, 255, 255, 0.4);
    border-radius: .4em;
    padding: 1em;
}

.info__personal{
    order: 2;
}

.info__image{
    order: 1;
}

.info__image .figure{
    width: 200px;
    height: 200px;
    background-color: #333;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #500E96;
}

.info__image .figure .img{
    object-fit: cover;
}

.info__name{
    font-size: 1.5em;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
}

.info__link{
    display: inline-block;
    background-color: slateblue;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
}
 

.skills__technologies-items{
    list-style: none;
    padding-left: 2em;
}

.skills__technologies-item{
    position: relative;
    
}

.skills__technologies-item::before{
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: #500e96;
    top: 0;
    bottom: 0;
    left: -1em;
    margin: auto;
}

.projects__project{
    background-color: #fff;
    box-shadow: 4px 4px 16px rgba(165, 177, 198, 0.4),
    -8px -8px 16px rgba(255, 255, 255, 0.4);
    border-radius: .4em;
    margin-bottom: 1em;
    overflow: hidden;
}

.project__description{
    padding: 1em;
}

.project__img-container{
    margin: 0;
    background-color: tomato;
    overflow: hidden;

}

.project__img{
    width: 100%;
    object-fit: contain;
    display: block;
}

.contact-me__email-area{
    background-color: #f2f2f2;
    padding: 5px;
}

.contact-me__email-area{
    padding: 1em;
}
.contact-me__title::before{
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("./images/mail.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-me__email{
    color: #500d95;
}

.contact-me__socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.contact-me__social-area{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 1em;
    
}

.footer{
    background-color: #888;
    padding: 3em 2em ;
    border-top: 5px solid yellowgreen;
}

.footer p{
    margin: 0;
}

.footer__text, .footer__year{
    color: #fff;
}

.footer__name{
    color: yellowgreen;
    font-weight: 700;
    font-size: 1.2em;
}

