*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

:root{
    font-family: 'Montserrat', sans-serif;    font-size: 14px;
    --primary-color: #1443c5;
    --secondary-color: #00e4fd;
}

img{
    width: 100%;
}

section{
    padding: 2em 0;
}
section:nth-child(2n){
    background-color: #f2f2f2;
}

h2{
    text-align: center;
    margin-bottom: 2em;
    color: var(--secondary-color);
}

h4{
    margin: .5em 0;
}

p{
    color: #222;
}

.container{
    width: 90%;
    max-width: 960px;
    margin: auto;
}

.header{
    
    background-image: linear-gradient(to right top, var(--secondary-color), var(--primary-color));
    
    background-size: 100% 70%;
    background-repeat: no-repeat;

}

.menu{
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

.menu__item{
    list-style: none;

}

.menu__link{
    text-decoration: none;
    font-weight: 500;
    color: rgba(255, 255, 255, .7);
    padding: 1em 0;
}

.menu__link:hover{
    color: #fff;
}

.info{
    display: grid;
    background-color: #fff;
    width: 90%;
    max-width: 790px;
    margin: auto;
    box-shadow: 4px 4px 16px rgba(165, 177, 198, 0.4);
    padding: 2em 2em;
    border-radius: 1.5em;
}

.info__personal{
    order: 2;
}

.info__image{
    order: 1;
}

.info__image .figure{
    width: 200px;
    height: 200px;
    background-color: #333;
    overflow: hidden;
    margin: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
    box-shadow: 4px 4px 16px rgba(165, 177, 198, 0.4);
    transition: border-radius .5s ease;
}

.info__image .figure:hover{
    border-radius: 35% 65% 17% 83% / 75% 27% 73% 25%;
}

.info__image .figure .img{
    object-fit: cover;
}

.info__name{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: .1em;
}

.info__link{
    display: block;
    text-align: center;
    
    padding: 10px 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
    border-radius: .5em;
    
    border: 2px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
}

.info__link:hover{
    border-color: transparent;
    background-color: var(--primary-color);
    color: #fff;
}
 

.skills__technologies-items{
    list-style: none;
    padding-left: 2em;
}

.skills__technologies-item{
    position: relative;
    
}

.skills__technologies-item::before{
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
    left: -1em;
    margin: auto;
}

.projects__project{
    background-color: #fff;
    border-radius: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    max-width: 850px;
    overflow: hidden;
    transition: box-shadow .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.projects__project:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);    
}

.project__description{
    padding: 1em;
}

.project__description p{
    margin-top: .5em;
    margin-bottom: 1em;
}

.project__link{
    color: var(--primary-color);
    text-decoration: none;
}

.project__img-container{
    margin: 0;
    overflow: hidden;
    padding: .5em;
    
}

.project__img{
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 5px;
}

.contact-me__email-area{
    width: 20em;
    margin: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
}


.contact-me__title::before{
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("./images/mail.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-me__email{
    color: var(--primary-color);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.contact-me__socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.contact-me__social-area{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 1em;
    opacity: .5;
}
.contact-me__social-area:hover{
    opacity: 1;
}

.footer{
    background-color: var(--primary-color);
    padding: 4em 2em ;
}

.footer__text{
    color: #fff;
    margin: 0;
    text-align: center;
}


@media screen and (min-width:630px){
    .menu{
        justify-content: flex-end;
        margin-right: 3em;
        padding-top: 3em;
    }
    .menu__item{
        margin-left: 30px;
    }
    .menu__link:hover{
        padding-bottom: 1em;
    
    }
    .info{
        margin-top: 2em;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1em;
        padding: 2em 3em;
    }
    .info__personal{
        order: 1;
    }

    .info__name{
        text-align: left;
    }
    
    .info__link{
        display: inline-block;
    }

    .info__image{
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills{
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1em;
    }
}

@media screen and (min-width:790px){
    body{
        font-size: 16px;
    }
    .info__name{
        font-size: 2em;
    }
    .skills{
        display:grid;
        grid-template-columns: 4fr 3fr;
        grid-gap: 1em;
    }
    .skills__technologies-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .projects__project{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .project__img{
        height: 100%;
        object-fit: cover;
        object-position: left;
        display: block;
        transition: object-position 3s;
    }
    .project__img:hover{
        object-position: right;
    }
    
}